* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}
nav {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gray;
    color: #fff;

    
}
nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
nav h1 {
    display: inline-block;
    font-size: 48px;
}
nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}
#about-me p {
    text-align: left;

}
#user {
    display: flex;
    align-items: flex-end;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    left: 10px;
}

section h2 {
    font-size: 30px;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
section p {
    font-size: 20px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
    text-align: center;
}

#projects {
    margin-left: 30px;
    margin-bottom: 20px;
}
#projects h3{
    margin: 15px;
}
#projects figure img {
    width: 400px;
    border: 5px solid black;
    position: relative;
    left: 30px;
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 33%;
    
    
}
#projects figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
    transform: scale(1.2);
}
#projects h3{
    display: inline-block;
}
#conatct {
    margin-top:15px;
}
#contact a{
    font-size: 20px;
    margin-left: 20px;
    text-align: left;
}
footer{
    text-align: center;
}


@media screen and (max-width: 400px) {

    ul {
        font-size: 20px;
    }
    img,nav {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    *{
        font-size: 20px;
    }
     img,nav {
        width: 70%;
        flex-direction: column;
    }
    
}


